html {
	font-family: sans-serif;
}

* {
  box-sizing: border-box;
}

body {
	color:#292929;
    display:grid;
	background-color:#f0f4f8 ;
    grid-template-rows: 150px auto 100px;
    grid-template-columns: auto 900px auto;
    grid-template-areas:
        "PageTitle	PageTitle	PageTitle"
        "LeftBlank	Content 	RightBlank"
        "PageSignature  PageSignature	PageSignature";
	margin:auto;
}

.PageTitle {
	height:150px;
	background-color:#f0f4f8;
	grid-area:PageTitle;
}
.LeftBlank {
	grid-area:LeftBlank;
}
#Content{
	grid-area:Content;
}
.RightBlank {
	grid-area:RightBlank;
}
.PageSignature {
	height:100px;
	background-color:#333;
	grid-area:PageSignature;
}



.PageTitle ul {
	list-style-type: none;
	margin-top: 0;
	padding: 5px;
	overflow: hidden;
	background-color: #333;
	position: fixed;
	top: 0;
	width: 100%;
}

.PageTitle li {
	float: left;
	display: block;
	font-weight: normal;
	padding: 25px;
	color: white;
	text-align: center;
	text-decoration: none;
	font-size: 60px;
}

.PageTitle .right {
	float: right;
}

.PageTitle .standard #contact {
	display: block;
	float: right;
	list-style-type: none;
	margin-top: 0;
	padding: 5px;
	overflow: hidden;
	background-color: #333;
	position: relative;
	top: 0;
	width: 500px;
	font-size: 10px;
}

.PageTitle .standard #contact li {
	float: none;
	font-weight: normal;
	padding: 10px;
	color: white;
	text-align: center;
	text-decoration: none;
	font-size: 30px;
}

.PageTitle a {
  text-decoration: underline;
  color: white;
}


/* The sidepanel menu */
.sidepanel {
  height: 100%; /* Specify a height */
  width: 400px; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  left: 0;
  background-color: #333; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidepanel */
  border-radius:5px;
  display: none;
}

/* The sidepanel links */
.sidepanel a {
  padding: 20px;
  text-decoration: none;
  font-size: 35px;
  color: white;
  display: block;
  border: 1px solid #ddd;
  transition: 0.3s;
  border-radius:5px;
  margin: 5px;
}

/* When you mouse over the navigation links, change their color */
.sidepanel a:hover {
  background-color: #444;
}

/* Position and style the close button (top right corner) */
.sidepanel .closebtn {
  padding: 0px;
  border: 0;
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 56px;
}

.sidepanel .closebtn:hover {
  background-color: #444;
}

/* Style the button that is used to open the sidepanel */
.openbtn {
  font-size: 50px;
  cursor: pointer;
  background-color: #333;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn #MeniDugme {
  font-size: 50px;
  cursor: pointer;
  background-color: #333;
  color: white;
  padding: 10px 15px;
  border: 2px solid white;
  margin-right: 10px;
  border-radius: 10px;
}
.openbtn #MeniDugme:hover {
  background-color: #444;
}

.openbtn #MeniDugme:active {
  background-color: #333;
}


.PageSignature ul{  
	list-style-type: none;
	margin: 0;
	padding: 5px;
	overflow: hidden;
	background-color: #333;
	width: 100%;
}

.PageSignature li {
	float: left;
	display: block;
	padding: 25px;
	color: white;
	text-align: center;
	text-decoration: none;
	font-size: 30px;
}

.PageSignature a {
  text-decoration: underline;
  color: white;
}

.images {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

.images img {
  flex: 50%;
  max-width: 50%;
  padding: 0 4px;
  margin-bottom: 8px;
  vertical-align: middle;
  border-radius: 20px;
}

.naziv {
	text-align: center;
	font-size: 20px;
}

.tekst100 {
	font-size: 20px;
	text-align:justify;
}

.tekst50 {
	font-size: 20px;
	text-align:justify;
	flex: 50%;
	max-width: 50%;
	padding: 20px;
	margin-bottom: 8px;
	vertical-align: right;
	border-radius: 20px;
}

.links a {
	max-width: 100%;
	padding: 20px;
	text-decoration: none;
	font-size: 35px;
	background-color: #333; /* Black*/
	color: white;
	display: block;
	border: 1px solid #ddd;
	transition: 0.3s;
	border-radius:5px;
	margin: 5px;
}

.images .links {
	flex: 50%;
	max-width: 50%;
}

.images .links a {
	padding: 20px;
	text-decoration: none;
	font-size: 35px;
	background-color: #333; /* Black*/
	color: white;
	display: block;
	border: 1px solid #ddd;
	border-radius:5px;
	margin: 5px;
}

@media (max-width: 1000px) {
.images img {
	flex: 100%;
	max-width: 100%;
	padding: 0 4px;
	margin-bottom: 8px;
	vertical-align: middle;
	width: 100%;
	border-radius: 20px;
}

.tekst50 {
	font-size: 20px;
	text-align:justify;
	flex: 100%;
	max-width: 100%;
	padding: 0 4px;
	margin-bottom: 8px;
	vertical-align: middle;
	width: 100%;
	border-radius: 20px;
}

.images .links {
	flex: 100%;
	max-width: 100%;
}

.images .links a {
	padding: 20px;
	text-decoration: none;
	font-size: 35px;
	background-color: #333; /* Black*/
	color: white;
	display: block;
	border: 1px solid #ddd;
	border-radius:5px;
	margin: 5px;
}

body {
	color:#292929;
    display:grid;
	background-color:#f0f4f8;
    grid-template-rows: 150px auto 100px;
    grid-template-columns: 0px auto 0px;
    grid-template-areas:
        "PageTitle	PageTitle	PageTitle"
        "LeftBlank	Content 	RightBlank"
        "PageSignature  PageSignature	PageSignature";
	margin:auto;
}

.PageSignature ul{  
	bottom: 0;
	position: fixed;
}

.sidepanel {
  height: 100%; /* Specify a height */
  width: 100%; /* 0 width - change this with JavaScript */
}

.sidepanel .closebtn {
  padding: 10px;
  right: 450px;
}

.sidepanel a:nth-child(2) {
  margin-top: 50px;
}

.PageTitle .standard #contact {
	display:none;
}

.PageSignature li {
	font-size: 40px;
	padding: 10px;
}

}